<app-banner [title]="title">
</app-banner>

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-">
                <form action="#" #stadiumForm="ngForm" (ngSubmit)="AddStadium()">
                    <div class="form-group">
                        <input type="text" class="form-control" [(ngModel)]="stadium.name" name="name"
                            placeholder="Name" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" [(ngModel)]="stadium.capacite" name="capacite"
                            placeholder="capacite" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" [(ngModel)]="stadium.country" name="country"
                            placeholder="country" />
                    </div>


                    <div class="form-group">
                        <input type="submit" class="btn btn-primary py-3 px-5" [value]="title" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>