<app-banner title="Test">
</app-banner>

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <form [formGroup]="testForm">
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="firstName" placeholder="FirstName" />
                    </div>
                    <div
                        *ngIf="testForm.controls['firstName'].invalid && (testForm.controls['firstName'].touched || testForm.controls['firstName'].dirty )">
                        <div *ngIf="testForm.controls['firstName'].errors.required">
                            FirstName is required
                        </div>
                        <div *ngIf="testForm.controls['firstName'].errors.minlength">
                            FirstName is must have at leats 3 chars
                        </div>

                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="lastName" placeholder="LastName" />
                    </div>
                    <div
                        *ngIf="testForm.controls['lastName'].invalid && (testForm.controls['lastName'].touched || testForm.controls['lastName'].dirty) ">
                        <div *ngIf="testForm.controls['lastName'].errors.required">
                            LastName is required
                        </div>
                        <div *ngIf="testForm.controls['lastName'].errors.minlength">
                            LastName is must have at leats 5 chars
                        </div>

                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="email" placeholder="email" />
                    </div>
                    <div
                        *ngIf="testForm.controls['email'].invalid && (testForm.controls['email'].touched || testForm.controls['email'].dirty) ">
                        <div *ngIf="testForm.controls['email'].errors.required">
                            email is required
                        </div>
                        <div *ngIf="testForm.controls['email'].errors.email">
                            email is not valid
                        </div>

                    </div>
                    <span class="text text-danger">{{errorMsg}}</span>



                    <div class="form-group">
                        <input type="submit" class="btn btn-primary py-3 px-5" [disabled]="testForm.invalid"
                            (click)="signup()" value="Signup" />
                    </div>

                    <table class="table table-dark ">
                        <thead>
                            <tr>
                                <th scope="col">firstName</th>
                                <th scope="col">LastName</th>
                                <th scope="col">email</th>
                                <th scope="col">Action</th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let coache of T">
                                <td>{{coache.firstName}}</td>
                                <td>{{coache.lastName}}</td>
                                <td>{{coache.email}}</td>

                                <td>
                                    <button class="btn btn-success " (click)="gotoDisplay(user.id)">display</button>
                                    <button class="btn btn-warning" (click)="gotoEdit(user.id)">Edit</button>
                                    <button class="btn btn-danger " (click)="deleteMatch(user.id)">Delete</button>
                                </td>


                            </tr>
                        </tbody>
                    </table>
                </form>


            </div>
        </div>
    </div>
</div>