<div class="site-section bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-12 title-section">
        <h2 class="heading">Upcoming Match</h2>
      </div>

      <div *ngFor="let m of pageOfItems" class="col-lg-6 mb-4">
        <app-match [x]="m"></app-match>
      </div>

      <div class="card-footer pb-0 pt-3" style="margin-left: 300px;">
        <jw-pagination [items]="matches" (changePage)="onChangePage($event)" [pageSize]="6"></jw-pagination>
      </div>
    </div>

  </div>

</div>