<form action="">

  <div class="form-group">
    <input type="text-center" class="form-control" [(ngModel)]="term" name="value" style="margin: 20px; width: 90% ; ;"
      placeholder="Search" />
  </div>


</form>




<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">team one</th>
      <th scope="col">team two</th>
      <th scope="col">score one</th>
      <th scope="col">score two</th>
      <th scope="col">stadiumId</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody id="adminid">
    <tr *ngFor=" let item of pageOfItems | myFiltre :term">
      <td>{{item._id}}</td>
      <td [ngStyle]="{'color':colorMatch(item.scoreone,item.scoretwo)}">{{item.teamone}}</td>
      <td [ngStyle]="{'color':colorMatch(item.scoretwo,item.scoreone)}">{{item.teamtwo}}</td>
      <td [ngStyle]="{'color':colorMatch(item.scoreone,item.scoretwo)}">{{item.scoreone}}</td>
      <td [ngStyle]="{'color':colorMatch(item.scoretwo,item.scoreone)}">{{item.scoretwo}}</td>
      <td>{{item.stadiumId}}</td>
      <td>

        <button class="btn btn-success " (click)="gotoDisplay(item._id)">display</button>
        <button class="btn btn-warning" (click)="gotoEdit(item._id)">Edit</button>
        <button class="btn btn-danger " (click)="deleteMatch(item._id)">Delete</button>
      </td>
    </tr>

  </tbody>


</table>
<div class="card-footer pb-0 pt-3">
  <jw-pagination [items]="T" (changePage)="onChangePage($event)" [pageSize]="5"></jw-pagination>
</div>
<!-- <div class="d-flex justify-content-center" *ngIf='!matches'>
  <app-loader></app-loader>
</div> -->