<app-banner title="weather">
</app-banner>

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <form [formGroup]="weatherForm">
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="country" placeholder="country" />
                    </div>
                    <div
                        *ngIf="weatherForm.controls['country'].invalid && (weatherForm.controls['country'].touched || weatherForm.controls['country'].dirty )">
                        <div *ngIf="weatherForm.controls['country'].errors.required">
                            country is required
                        </div>

                    </div>
                    <div class="text text-danger">Teamperature : <span
                            class="text text-black">{{resultData?.temp}}</span> </div><br>
                    <div class="text text-danger">Humidity: <span
                            class="text text-black">{{resultData?.humidity}}</span> </div><br>
                    <div class="text text-danger">Windspeed:<span
                            class="text text-black">{{resultData?.windspeed}}</span> </div><br>
                    <img [src]="iconUrl" alt="">



                    <div class="form-group">
                        <input type="submit" class="btn btn-primary py-3 px-5" [disabled]="weatherForm.invalid"
                            (click)="serach()" value="Search" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>