<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="d-flex team-vs">
        <span class="score">
          <span
            [ngStyle]="{'color':color(matchestable.scoreone,matchestable.scoretwo)}">{{matchestable.scoreone}}</span> -
          <span [ngStyle]="{'color':color(matchestable.scoretwo,matchestable.scoreone)}">
            {{matchestable.scoretwo}}</span>
        </span>
        <div class="team-1 w-50">
          <div class="team-details w-100 text-center">
            <img src="assets/images/logo_1.png" alt="Image" class="img-fluid" />
            <h3>
              <span [ngClass]="{ 
                'win':matchestable.scoreone > matchestable.scoretwo,
                'loss':matchestable.scoreone < matchestable.scoretwo,
                'draw' :matchestable.scoreone ==  matchestable.scoretwo
            }">

                {{matchestable.teamone}}

              </span>

              <span>({{score(matchestable.scoreone,matchestable.scoretwo)}})</span>
            </h3>
            <ul class="list-unstyled">
              <li>Anja Landry (7)</li>
              <li>Eadie Salinas (12)</li>
              <li>Ashton Allen (10)</li>
              <li>Baxter Metcalfe (5)</li>
            </ul>
          </div>
        </div>
        <div class="team-2 w-50">
          <div class="team-details w-100 text-center">
            <img src="assets/images/logo_2.png" alt="Image" class="img-fluid" />
            <h3>

              <span [ngClass]="{ 
                'win':matchestable.scoretwo > matchestable.scoreone,
                'loss':matchestable.scoretwo < matchestable.scoreone,
                'draw' :matchestable.scoretwot ==  matchestable.scoreone
            }">

                {{matchestable.teamtwo}}

              </span>


              <span>({{score(matchestable.scoretwo,matchestable.scoreone)}})</span>
            </h3>
            <ul class="list-unstyled">
              <li>Macauly Green (3)</li>
              <li>Arham Stark (8)</li>
              <li>Stephan Murillo (9)</li>
              <li>Ned Ritter (5)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>