<div class="custom-media d-flex">
    <div class="img mr-4">
        <img src="assets/images/img_1.jpg" alt="Image" class="img-fluid" />
    </div>
    <div class="text">
        <span class="meta text-danger">{{a.date}}</span>
        <h3 class="mb-4"><a href="#">{{a.description}}</a></h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus
            deserunt saepe tempora dolorem.
        </p>
        <p><a href="#">{{a.offre}}</a></p>
    </div>
</div>