<app-banner title="login">
</app-banner>

<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <form #loginForm="ngForm" (ngSubmit)="connection()">
          <div class="form-group">
            <input type="text" class="form-control" name="email" [(ngModel)]="user.email" placeholder="Email"
              #email="ngModel" [ngClass]="{ 'is-invalid': loginForm.submitted && email.invalid }" required email />

            <div *ngIf="loginForm.submitted && email.invalid"
              class="form-control border border-secondary rounded-right">
              <p *ngIf="email.errors.required">email is required</p>
              <p *ngIf="email.errors.email">email is invalid</p>
            </div>
          </div>

          <div class="form-group">
            <input type="text" class="form-control" name="pwd" [(ngModel)]="user.pwd" placeholder="pwd" #pwd="ngModel"
              [ngClass]="{ 'is-invalid': loginForm.submitted && pwd.invalid }" required />

            <div *ngIf="loginForm.submitted && pwd.invalid" class="form-control border border-secondary rounded-right">
              <p *ngIf="pwd.errors.required">password is required</p>
            </div>
          </div>

          <div class="form-group">
            <input type="submit" class="btn btn-primary py-3 px-5" value="Login" />


          </div>
          <h5 class="aler text text-danger">{{errorMsg}}</h5>

        </form>
      </div>
    </div>
  </div>
</div>