<div class="site-section first-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 blog-content">

                <div class="pt-5">
                    <h3 class="mb-5 text-white">Mon Profile</h3>
                    <div class="comment-list">
                        <li class="comment">

                            <div class="vcard bio">
                                <img class="rounded float-left" style="width: 200px;  height: 200px; "
                                    [src]="user.avatar" alt="Image placeholder">
                            </div>
                            <div class="comment-body" style="margin-left:  280px;">
                                <h3>{{user.firstName}}</h3>
                                <div class="meta">{{user.email}}</div>
                                <p>{{user.lastName}}</p>
                                <p><a class="reply" (click)="editUser(user._id)">edit</a></p>
                            </div>
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </div>