<app-banner title="signup">
</app-banner>

<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <form [formGroup]="signupForm">
          <div class="form-group">
            <input type="text" class="form-control" formControlName="firstName" placeholder="FirstName" />
          </div>
          <div
            *ngIf="signupForm.controls['firstName'].invalid && (signupForm.controls['firstName'].touched || signupForm.controls['firstName'].dirty )">
            <div *ngIf="signupForm.controls['firstName'].errors.required">
              FirstName is required
            </div>
            <div *ngIf="signupForm.controls['firstName'].errors.minlength">
              FirstName is must have at leats 3 chars
            </div>

          </div>
          <div class="form-group">
            <input type="text" class="form-control" formControlName="lastName" placeholder="LastName" />
          </div>
          <div
            *ngIf="signupForm.controls['lastName'].invalid && (signupForm.controls['lastName'].touched || signupForm.controls['lastName'].dirty) ">
            <div *ngIf="signupForm.controls['lastName'].errors.required">
              LastName is required
            </div>
            <div *ngIf="signupForm.controls['lastName'].errors.minlength">
              LastName is must have at leats 5 chars
            </div>

          </div>
          <div class="form-group">
            <input type="text" class="form-control" formControlName="email" placeholder="email" />
          </div>
          <div
            *ngIf="signupForm.controls['email'].invalid && (signupForm.controls['email'].touched || signupForm.controls['email'].dirty) ">
            <div *ngIf="signupForm.controls['email'].errors.required">
              email is required
            </div>
            <div *ngIf="signupForm.controls['email'].errors.email">
              email is not valid
            </div>

          </div>
          <span class="text text-danger">{{errorMsg}}</span>

          <div class="form-group">
            <input type="text" class="form-control" formControlName="pwd" placeholder="pwd" />
          </div>

          <div
            *ngIf="signupForm.controls['pwd'].invalid && (signupForm.controls['pwd'].touched || signupForm.controls['pwd'].dirty )  ">
            <div *ngIf="signupForm.controls['pwd'].errors.required">
              password is required
            </div>
            <div *ngIf="signupForm.controls['pwd'].errors.minlength">
              password is must have at leats 3 chars
            </div>
            <div *ngIf="signupForm.controls['pwd'].errors.maxlength">
              paasword is must have at leats 12 chars
            </div>
            <div *ngIf="signupForm.controls['pwd'].errors.pattern">
              paasword is not valid
            </div>
          </div>

          <div class="form-group">
            <input type="text" class="form-control" formControlName="ConfirmePwd" placeholder="ConfirmePwd" />
          </div>
          <div>
            <button class="btn btn-danger" (click)="filepicker.click()"> select your avatar</button>
          </div>


          <div class="form-group" style="visibility: hidden ;">
            <input type="file" class="form-control" #filepicker (change)='onImageSelected($event)'
              placeholder="fichier" />
          </div>

          <div style="margin-bottom: 120px ;">
            <img [src]="imagePreview" style="width:200px ; height:200px" *ngIf="imagePreview" alt="Avatar">
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary py-3 px-5" [disabled]="signupForm.invalid" (click)="signup()"
              value="Signup" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>